<% if current_user %>
  <li>
    Signed in as <%= current_user.email %>
  </li>
  <li>
    <%= link_to "Logout", '/logout' %>
  </li>
  <% else %>
  <li>
    <%= link_to 'Login', '/login' %>
  </li>
  <li>
    <%= link_to 'Signup', '/signup' %>
  </li>
<% end %>